@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
.noto {
  font-family: "Noto Sans KR", sans-serif !important;
}

.rl-scroll {
  transform-style: preserve-3d;
  will-change: transform;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #eee;
}
body.no-cursor * {
  cursor: none !important;
}
body.artWork {
  background: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.section-inner {
  padding: 0 8.5vw 0 6vw;
}
@media (max-width: 991px) {
  .section-inner {
    padding: 0 15px;
  }
}

.cursor {
  position: fixed;
  z-index: 9999;
  pointer-events: none;
}
.cursor p {
  width: 2vw;
  height: 2vw;
  display: block;
  background: #d61c45;
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  pointer-events: none;
}
@media (max-width: 991px) {
  .cursor p {
    width: 4vw;
    height: 4vw;
  }
}
.cursor span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  font-size: 0.8vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #eee;
  pointer-events: none;
}
@media (max-width: 991px) {
  .cursor span {
    font-size: 13px;
  }
}
@media (max-width: 720px) {
  .cursor span {
    font-size: 10px;
  }
}
.cursor.scale {
  opacity: 0.7;
}
.cursor.scale p {
  transform: scale(2);
}
.cursor.scale span {
  opacity: 1;
  visibility: visible;
}
.cursor.background p {
  background: #eee;
}
.cursor.background span {
  color: #d61c45;
}
@media (max-width: 480px) {
  .cursor {
    display: none;
  }
}

/*** 로딩 인트로 시작 ***/
.loading-intro {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: opacity 0.5s, visibility 0.5s;
  transition-delay: 0.5s;
}
.loading-intro .intro-txt-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  padding: 3vw 0;
}
.loading-intro .intro-txt-wrap > div {
  padding: 0 3vw;
}
.loading-intro .intro-txt-wrap h1 {
  line-height: 1;
  display: flex;
  align-items: center;
  column-gap: 3vw;
  margin: 0 0 0 -2vw;
  line-height: 1.1;
  white-space: nowrap;
  font-size: 6vw;
  font-weight: 400;
  font-family: "Baskervville", serif;
  color: #000;
  font-style: italic;
  font-size: 14vw;
  color: #fff;
}
@media (max-width: 991px) {
  .loading-intro .intro-txt-wrap h1 {
    line-height: 1.4;
    font-size: 10vw;
  }
}
@media (max-width: 480px) {
  .loading-intro .intro-txt-wrap h1 {
    font-size: 12vw;
  }
}
.loading-intro .intro-txt-wrap h1 span {
  display: block;
  position: relative;
  animation: stroke 1s infinite step-end;
}
.loading-intro .intro-txt-wrap h1 span::before {
  content: attr(data-text);
  position: absolute;
  top: 1vw;
  left: 1vw;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  animation: color 1s infinite step-end;
}
@media (max-width: 991px) {
  .loading-intro .intro-txt-wrap h1 span::before {
    top: 2vw;
    left: -2vw;
  }
}
@keyframes stroke {
  50% {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
  }
}
@keyframes color {
  50% {
    color: #fff;
    -webkit-text-stroke: 1px transparent;
  }
}
@media (max-width: 991px) {
  .loading-intro .intro-txt-wrap h1 {
    line-height: 1;
    flex-flow: column;
    align-items: flex-end;
    font-size: 15vw;
  }
}
@media (max-width: 480px) {
  .loading-intro .intro-txt-wrap h1 {
    font-size: 20vw;
  }
}
.loading-intro .intro-txt-wrap p span {
  display: block;
  line-height: 1.5;
  font-size: 1.65vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #000;
  color: #fff;
}
@media (max-width: 991px) {
  .loading-intro .intro-txt-wrap p span {
    font-size: 3.5vw;
  }
}
@media (max-width: 720px) {
  .loading-intro .intro-txt-wrap p span {
    line-height: 1.7;
    font-size: 17px;
  }
}
@media (max-width: 480px) {
  .loading-intro .intro-txt-wrap p span {
    line-height: 1.8;
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .loading-intro .intro-txt-wrap p span {
    line-height: 1.4;
    font-size: 16px;
  }
}
.loading-intro .loading-progress {
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.5);
}
.loading-intro .loading-progress span {
  height: 100%;
  display: block;
  background: #fff;
}
.loading-intro::before, .loading-intro::after {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: -1;
  background: #d61c45;
  transition: all 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.loading-intro::before {
  top: 0;
}
.loading-intro::after {
  bottom: 0;
}
.loading-intro.loading {
  opacity: 0;
  visibility: hidden;
}
.loading-intro.loading::before {
  top: -100%;
}
.loading-intro.loading::after {
  bottom: -100%;
}

/*** 로딩 인트로 끝 ***/
/*** 헤더 시작 ***/
.at-header {
  width: calc(100% - 5.4vw);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 2vw 2vw 2vw 1vw;
  backdrop-filter: blur(6px);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.at-header .header-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.at-header .header-inner ul {
  display: flex;
  align-items: center;
  column-gap: 4.35vw;
}
.at-header .header-inner ul li a {
  display: block;
  font-size: 1.1vw;
  font-weight: 400;
  font-family: "Baskervville", serif;
  color: #000;
  text-transform: uppercase;
}
@media (max-width: 1600px) {
  .at-header .header-inner ul li a {
    font-size: 1.4vw;
  }
}
@media (max-width: 991px) {
  .at-header .header-inner ul li a {
    font-size: 2.5vw;
  }
}
@media (max-width: 480px) {
  .at-header .header-inner ul li a {
    font-size: 13px;
  }
}
.at-header .header-inner ul li p {
  font-size: 1.05vw;
  font-weight: 500;
  font-family: "Baskervville", serif;
  color: #000;
}
.at-header .header-inner ul li span {
  font-size: 0.85vw;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
}
@media (max-width: 1600px) {
  .at-header .header-inner ul li span {
    font-size: 1.2vw;
  }
}
.at-header .header-inner ul:last-child li p {
  cursor: pointer;
}
.at-header .header-inner ul:last-child {
  column-gap: 2.35vw;
}
.at-header .header-inner ul:last-child li {
  padding: 0.5vw 1vw;
  background: #eee;
  border-radius: 5vw;
}
@media (max-width: 991px) {
  .at-header .header-inner ul:last-child li {
    padding: 0.8vw 2vw;
  }
}
@media (max-width: 480px) {
  .at-header .header-inner ul:last-child li {
    padding: 4px 8px;
  }
}
@media (max-width: 480px) {
  .at-header .header-inner ul:last-child {
    column-gap: 5px;
  }
}
@media (max-width: 991px) {
  .at-header .header-inner ul {
    display: none;
  }
  .at-header .header-inner ul:last-child {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 480px) {
  .at-header .header-inner {
    padding: 10px;
  }
}
@media (max-width: 991px) {
  .at-header {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .at-header {
    padding: 0;
  }
}

/*** 헤더 끝 ***/
/*** 우측 고정 컨텐츠 시작 ***/
.right-fix {
  width: 5.4vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  background: #d61c45;
}
.right-fix p {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 2.6vw 0;
  overflow: hidden;
  writing-mode: vertical-lr;
  font-size: 1.62vw;
  font-weight: 400;
  font-family: "Baskervville", serif;
  color: #000;
  font-style: italic;
}
.right-fix p span {
  display: block;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.right-fix p span:last-child {
  transform: scale(-1);
  color: #fff;
}
@media (max-width: 991px) {
  .right-fix {
    display: none;
  }
}

/*** 우측 고정 컨텐츠 끝 ***/
/*** 메인 시작 ***/
.area01 .section01 {
  overflow: hidden;
}
.area01 .section01-inner {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 13vw 8.5vw 13vw 6vw;
}
.area01 .section01-inner .intro-txt-wrap h1 {
  display: flex;
  line-height: 1.1;
  white-space: nowrap;
  font-size: 6vw;
  font-weight: 400;
  font-family: "Baskervville", serif;
  color: #000;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .area01 .section01-inner .intro-txt-wrap h1 {
    line-height: 1.4;
    font-size: 10vw;
  }
}
@media (max-width: 480px) {
  .area01 .section01-inner .intro-txt-wrap h1 {
    font-size: 12vw;
  }
}
.area01 .section01-inner .intro-txt-wrap h1:nth-child(2) {
  padding: 0 0 0 27vw;
}
.area01 .section01-inner .intro-txt-wrap h1:nth-child(2) span {
  font-style: italic;
  color: #d61c45;
}
@media (max-width: 480px) {
  .area01 .section01-inner .intro-txt-wrap h1:nth-child(2) {
    padding: 0 0 0 13vw;
  }
}
@media (max-width: 991px) {
  .area01 .section01-inner .intro-txt-wrap h1 {
    font-size: 10vw;
  }
}
@media (max-width: 480px) {
  .area01 .section01-inner .intro-txt-wrap h1 {
    font-size: 12vw;
  }
}
.area01 .section01-inner .m-txt-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4vw 0 0 0;
  /*.next-section-arrow{@include circle-con; cursor:pointer;
      span{@include arrow;}
  }*/
}
.area01 .section01-inner .m-txt-wrap .txt {
  line-height: 1.5;
  font-size: 1.65vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #000;
}
@media (max-width: 991px) {
  .area01 .section01-inner .m-txt-wrap .txt {
    font-size: 3.5vw;
  }
}
@media (max-width: 720px) {
  .area01 .section01-inner .m-txt-wrap .txt {
    line-height: 1.7;
    font-size: 17px;
  }
}
@media (max-width: 480px) {
  .area01 .section01-inner .m-txt-wrap .txt {
    line-height: 1.8;
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .area01 .section01-inner .m-txt-wrap {
    margin: 7vw 0 0 0;
  }
}
@media (max-width: 991px) {
  .area01 .section01-inner {
    height: 100vh;
    padding: 18vw 15px;
  }
}
@media (max-width: 480px) {
  .area01 .section01-inner {
    padding: 0 15px;
  }
}

.area02 {
  position: relative;
  background: #000;
}
.area02 .section02-inner {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 10vw 8.5vw 14vw 6vw;
}
.area02 .section02-inner .intro-txt-wrap p {
  font-size: 3vw;
  font-weight: 400;
  font-family: "Baskervville", serif;
  color: #d61c45;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .area02 .section02-inner .intro-txt-wrap p {
    font-size: 5vw;
  }
}
@media (max-width: 480px) {
  .area02 .section02-inner .intro-txt-wrap p {
    font-size: 7vw;
  }
}
.area02 .section02-inner .intro-txt-wrap h1 {
  line-height: 1.1;
  white-space: nowrap;
  font-size: 6vw;
  font-weight: 400;
  font-family: "Baskervville", serif;
  color: #000;
  color: #fff;
}
@media (max-width: 991px) {
  .area02 .section02-inner .intro-txt-wrap h1 {
    line-height: 1.4;
    font-size: 10vw;
  }
}
@media (max-width: 480px) {
  .area02 .section02-inner .intro-txt-wrap h1 {
    font-size: 12vw;
  }
}
.area02 .section02-inner .intro-txt-wrap h1:nth-child(2) {
  padding: 0 0 0 7vw;
  font-style: italic;
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
}
@media (max-width: 991px) {
  .area02 .section02-inner .intro-txt-wrap h1:nth-child(2) {
    padding: 0 0 0 4vw;
  }
}
@media (max-width: 480px) {
  .area02 .section02-inner .intro-txt-wrap h1:nth-child(2) {
    padding: 0 0 0 0;
  }
}
.area02 .section02-inner .content-row {
  display: flex;
  justify-content: 21vw;
  column-gap: 1.5vw;
  margin: 3vw 0 0 0;
}
.area02 .section02-inner .content-row .open-fold-toggle {
  flex: 1;
}
.area02 .section02-inner .content-row .open-fold-toggle .heading-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 0;
  border: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
}
.area02 .section02-inner .content-row .open-fold-toggle .heading-b h1 {
  font-size: 4.5vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .area02 .section02-inner .content-row .open-fold-toggle .heading-b h1 {
    font-size: 6vw;
  }
}
.area02 .section02-inner .content-row .open-fold-toggle .heading-b .open-fold-toggle-arrow {
  width: 2.2vw;
  height: 2.2vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.area02 .section02-inner .content-row .open-fold-toggle .heading-b .open-fold-toggle-arrow span {
  display: block;
  position: absolute;
  background: #fff;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.area02 .section02-inner .content-row .open-fold-toggle .heading-b .open-fold-toggle-arrow span.row {
  width: 100%;
  height: 5px;
}
@media (max-width: 991px) {
  .area02 .section02-inner .content-row .open-fold-toggle .heading-b .open-fold-toggle-arrow span.row {
    height: 3px;
  }
}
@media (max-width: 480px) {
  .area02 .section02-inner .content-row .open-fold-toggle .heading-b .open-fold-toggle-arrow span.row {
    height: 2px;
  }
}
.area02 .section02-inner .content-row .open-fold-toggle .heading-b .open-fold-toggle-arrow span.column {
  width: 5px;
  height: 100%;
}
@media (max-width: 991px) {
  .area02 .section02-inner .content-row .open-fold-toggle .heading-b .open-fold-toggle-arrow span.column {
    width: 3px;
  }
}
@media (max-width: 480px) {
  .area02 .section02-inner .content-row .open-fold-toggle .heading-b .open-fold-toggle-arrow span.column {
    width: 2px;
  }
}
.area02 .section02-inner .content-row .open-fold-toggle .heading-b .open-fold-toggle-arrow.exposuer span.column {
  transform: rotate(90deg);
}
@media (max-width: 991px) {
  .area02 .section02-inner .content-row .open-fold-toggle .heading-b .open-fold-toggle-arrow {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 720px) {
  .area02 .section02-inner .content-row .open-fold-toggle .heading-b .open-fold-toggle-arrow {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 480px) {
  .area02 .section02-inner .content-row .open-fold-toggle .heading-b .open-fold-toggle-arrow {
    width: 12px;
    height: 12px;
    margin: 0 0 3px 0;
  }
}
@media (max-width: 991px) {
  .area02 .section02-inner .content-row .open-fold-toggle .heading-b {
    padding: 3vw 0;
  }
}
@media (max-width: 480px) {
  .area02 .section02-inner .content-row .open-fold-toggle .heading-b {
    padding: 4vw 0;
  }
}
.area02 .section02-inner .content-row .open-fold-toggle .con {
  max-height: 0;
  padding: 1.5vw 0 0 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.area02 .section02-inner .content-row .open-fold-toggle .con li {
  display: flex;
  align-items: center;
  position: relative;
  counter-increment: li-counter;
  color: #fff;
}
.area02 .section02-inner .content-row .open-fold-toggle .con li .fir {
  width: 14vw;
  display: flex;
  align-items: center;
  column-gap: 0.75vw;
}
.area02 .section02-inner .content-row .open-fold-toggle .con li .fir .line {
  width: 1.6vw;
  height: 2px;
  background: #fff;
}
@media (max-width: 991px) {
  .area02 .section02-inner .content-row .open-fold-toggle .con li .fir .line {
    width: 25px;
  }
}
.area02 .section02-inner .content-row .open-fold-toggle .con li .fir .time {
  font-size: 1vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 991px) {
  .area02 .section02-inner .content-row .open-fold-toggle .con li .fir .time {
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .area02 .section02-inner .content-row .open-fold-toggle .con li .fir .time {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .area02 .section02-inner .content-row .open-fold-toggle .con li .fir .time {
    font-size: 13px;
  }
}
@media (max-width: 991px) {
  .area02 .section02-inner .content-row .open-fold-toggle .con li .fir {
    width: 250px;
  }
}
@media (max-width: 480px) {
  .area02 .section02-inner .content-row .open-fold-toggle .con li .fir {
    width: 92%;
    column-gap: 10px;
  }
}
.area02 .section02-inner .content-row .open-fold-toggle .con li .history {
  font-size: 1vw;
  font-weight: 300;
  font-family: "Noto Sans KR", sans-serif;
}
@media (max-width: 991px) {
  .area02 .section02-inner .content-row .open-fold-toggle .con li .history {
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .area02 .section02-inner .content-row .open-fold-toggle .con li .history {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .area02 .section02-inner .content-row .open-fold-toggle .con li .history {
    font-size: 13px;
  }
}
.area02 .section02-inner .content-row .open-fold-toggle .con li::before {
  content: counter(li-counter, decimal-leading-zero);
  margin: 0 0.75vw 0 0;
  font-size: 1.63vw;
  font-weight: 300;
  font-family: "Noto Serif", serif;
  color: #d61c45;
}
@media (max-width: 991px) {
  .area02 .section02-inner .content-row .open-fold-toggle .con li::before {
    font-size: 26px;
  }
}
@media (max-width: 720px) {
  .area02 .section02-inner .content-row .open-fold-toggle .con li::before {
    font-size: 21px;
  }
}
@media (max-width: 480px) {
  .area02 .section02-inner .content-row .open-fold-toggle .con li::before {
    width: 8%;
    margin: 0;
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .area02 .section02-inner .content-row .open-fold-toggle .con li {
    margin: 0 0 10px 0;
  }
  .area02 .section02-inner .content-row .open-fold-toggle .con li:last-child {
    margin: 0;
  }
}
@media (max-width: 480px) {
  .area02 .section02-inner .content-row .open-fold-toggle .con li {
    flex-flow: wrap;
  }
}
.area02 .section02-inner .content-row .open-fold-toggle .con.exposuer {
  max-height: 100em;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 991px) {
  .area02 .section02-inner .content-row .open-fold-toggle .con.exposuer {
    padding: 15px 0 15px 0;
  }
}
.area02 .section02-inner .content-row .skils .con {
  display: flex;
  flex-flow: column;
  row-gap: 3.2vw;
  padding: 1.9vw 0 0 0;
}
.area02 .section02-inner .content-row .skils .con ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.area02 .section02-inner .content-row .skils .con ul li {
  width: 100%;
}
.area02 .section02-inner .content-row .skils .con ul li p {
  font-size: 1vw;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 991px) {
  .area02 .section02-inner .content-row .skils .con ul li p {
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .area02 .section02-inner .content-row .skils .con ul li p {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .area02 .section02-inner .content-row .skils .con ul li p {
    font-size: 13px;
  }
}
.area02 .section02-inner .content-row .skils .con ul li:nth-child(2) {
  justify-content: center;
}
.area02 .section02-inner .content-row .skils .con ul li:last-child {
  justify-content: flex-end;
}
.area02 .section02-inner .content-row .skils .con ul li::before {
  display: none;
}
@media (max-width: 991px) {
  .area02 .section02-inner .content-row {
    flex-flow: column;
    margin: 7vw 0 0 0;
  }
}
@media (max-width: 991px) {
  .area02 .section02-inner {
    height: 127vw;
    padding: 0 15px;
    overflow: hidden;
  }
}
@media (max-width: 480px) {
  .area02 .section02-inner {
    height: auto;
    padding: 20vw 15px;
  }
}
.area02 .section03 {
  padding: 0 0 30vw 0;
}
.area02 .section03-inner .intro-txt-wrap p {
  font-size: 3vw;
  font-weight: 400;
  font-family: "Baskervville", serif;
  color: #d61c45;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .area02 .section03-inner .intro-txt-wrap p {
    font-size: 5vw;
  }
}
@media (max-width: 480px) {
  .area02 .section03-inner .intro-txt-wrap p {
    font-size: 7vw;
  }
}
.area02 .section03-inner .intro-txt-wrap h1 {
  padding: 0 0 0 7vw;
  line-height: 1.1;
  white-space: nowrap;
  font-size: 6vw;
  font-weight: 400;
  font-family: "Baskervville", serif;
  color: #000;
  font-style: italic;
  color: #fff;
}
@media (max-width: 991px) {
  .area02 .section03-inner .intro-txt-wrap h1 {
    line-height: 1.4;
    font-size: 10vw;
  }
}
@media (max-width: 480px) {
  .area02 .section03-inner .intro-txt-wrap h1 {
    font-size: 12vw;
  }
}
@media (max-width: 480px) {
  .area02 .section03-inner .intro-txt-wrap h1 {
    padding: 0 0 0 13vw;
  }
}
.area02 .section03-inner .content-column {
  padding: 7vw 0 0 0;
}
.area02 .section03-inner .content-column ul li {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  padding: 2vw 0;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
.area02 .section03-inner .content-column ul li .headline p {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  line-height: 1.1;
  white-space: nowrap;
  font-size: 6vw;
  font-weight: 400;
  font-family: "Baskervville", serif;
  color: #000;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media (max-width: 991px) {
  .area02 .section03-inner .content-column ul li .headline p {
    line-height: 1.4;
    font-size: 10vw;
  }
}
@media (max-width: 480px) {
  .area02 .section03-inner .content-column ul li .headline p {
    font-size: 12vw;
  }
}
.area02 .section03-inner .content-column ul li .headline p span {
  font-size: 1vw;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #999;
}
@media (max-width: 991px) {
  .area02 .section03-inner .content-column ul li .headline p span {
    font-size: 23px;
  }
}
@media (max-width: 720px) {
  .area02 .section03-inner .content-column ul li .headline p span {
    font-size: 17px;
  }
}
@media (max-width: 480px) {
  .area02 .section03-inner .content-column ul li .headline p span {
    order: 2;
    font-size: 13px;
  }
}
.area02 .section03-inner .content-column ul li .headline p.spaceBetween {
  justify-content: space-between;
}
@media (max-width: 991px) {
  .area02 .section03-inner .content-column ul li .headline p {
    font-size: 9vw;
  }
}
@media (max-width: 720px) {
  .area02 .section03-inner .content-column ul li .headline p {
    font-size: 7vw;
  }
}
@media (max-width: 480px) {
  .area02 .section03-inner .content-column ul li .headline p {
    flex-flow: column;
    align-items: center;
    font-size: 9vw;
  }
}
.area02 .section03-inner .content-column ul li .work-img {
  width: 18vw;
  height: 25vw;
  position: absolute;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background-size: cover;
  background-position: center;
}
@media (max-width: 991px) {
  .area02 .section03-inner .content-column ul li .work-img {
    width: 46vw;
    height: 57vw;
  }
}
.area02 .section03-inner .content-column ul li:last-child {
  border-bottom: 0;
}
.area02 .section03-inner .content-column ul li.opacity .work-img {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 991px) {
  .area02 .section03-inner .content-column ul li {
    padding: 4vw 0;
  }
}
@media (max-width: 720px) {
  .area02 .section03-inner .content-column ul li {
    padding: 3vw 0;
  }
}
@media (max-width: 480px) {
  .area02 .section03-inner .content-column ul li {
    padding: 12px 0;
  }
}
.area02 .section03-inner .sub_link {
  height: 8vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding: 0.6vw;
  border: 2px solid #fff;
  border-radius: 4vw;
  cursor: pointer;
}
.area02 .section03-inner .sub_link p {
  width: 100%;
  height: 3.9vw;
  display: flex;
  flex-flow: column;
  position: absolute;
  z-index: 5;
  padding: 0 3vw;
  overflow: hidden;
  font-size: 3.23vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.area02 .section03-inner .sub_link p span {
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media (max-width: 991px) {
  .area02 .section03-inner .sub_link p {
    height: 7vw;
    padding: 0 4vw;
    font-size: 6vw;
  }
}
@media (max-width: 480px) {
  .area02 .section03-inner .sub_link p {
    height: 23px;
    padding: 0 25px;
    font-size: 19px;
  }
}
.area02 .section03-inner .sub_link .circle {
  width: 6.5vw;
  height: 6.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0.6vw;
  background: #d61c45;
  border-radius: 10vw;
  transition: width 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.area02 .section03-inner .sub_link .circle span {
  width: 0.2vw;
  height: 3vw;
  display: block;
  position: relative;
  background: #999;
  transform: rotate(-90deg);
  background: #000;
}
.area02 .section03-inner .sub_link .circle span::before, .area02 .section03-inner .sub_link .circle span::after {
  content: "";
  width: 0.2vw;
  height: 1.5vw;
  position: absolute;
  bottom: -0.4vw;
  background: inherit;
}
@media (max-width: 991px) {
  .area02 .section03-inner .sub_link .circle span::before, .area02 .section03-inner .sub_link .circle span::after {
    width: 4px;
    height: 2vw;
  }
}
@media (max-width: 480px) {
  .area02 .section03-inner .sub_link .circle span::before, .area02 .section03-inner .sub_link .circle span::after {
    width: 2px;
    height: 8px;
  }
}
.area02 .section03-inner .sub_link .circle span::before {
  left: 0.5vw;
  transform: rotate(45deg);
}
@media (max-width: 991px) {
  .area02 .section03-inner .sub_link .circle span::before {
    left: 0.7vw;
  }
}
@media (max-width: 480px) {
  .area02 .section03-inner .sub_link .circle span::before {
    left: 2.5px;
  }
}
.area02 .section03-inner .sub_link .circle span::after {
  right: 0.5vw;
  transform: rotate(-45deg);
}
@media (max-width: 991px) {
  .area02 .section03-inner .sub_link .circle span::after {
    right: 0.7vw;
  }
}
@media (max-width: 480px) {
  .area02 .section03-inner .sub_link .circle span::after {
    right: 2.5px;
  }
}
@media (max-width: 991px) {
  .area02 .section03-inner .sub_link .circle span {
    width: 4px;
    height: 5vw;
  }
}
@media (max-width: 480px) {
  .area02 .section03-inner .sub_link .circle span {
    width: 2px;
    height: 24px;
  }
}
@media (max-width: 991px) {
  .area02 .section03-inner .sub_link .circle {
    width: 8vw;
    height: 8vw;
    right: 1.5vw;
  }
}
@media (max-width: 480px) {
  .area02 .section03-inner .sub_link .circle {
    width: 35px;
    height: 35px;
    right: 7px;
  }
}
.area02 .section03-inner .sub_link:hover p {
  text-align: right;
}
.area02 .section03-inner .sub_link:hover p span:first-child {
  transform: translateY(100%);
}
.area02 .section03-inner .sub_link:hover p span:last-child {
  transform: translateY(-100%);
}
@media (max-width: 480px) {
  .area02 .section03-inner .sub_link:hover p {
    padding: 0 12px;
  }
}
.area02 .section03-inner .sub_link:hover .circle {
  width: calc(100% - 1.2vw);
  justify-content: flex-start;
  padding: 0 0 0 3vw;
}
@media (max-width: 991px) {
  .area02 .section03-inner .sub_link:hover .circle {
    padding: 0 0 0 5vw;
  }
}
@media (max-width: 480px) {
  .area02 .section03-inner .sub_link:hover .circle {
    width: calc(100% - 3.6vw);
    padding: 0 0 0 8vw;
  }
}
@media (max-width: 991px) {
  .area02 .section03-inner .sub_link {
    height: auto;
    padding: 5vw 2vw 5vw 2vw;
    border-radius: 9vw;
  }
}
@media (max-width: 480px) {
  .area02 .section03-inner .sub_link {
    padding: 25px 10px 25px 10px;
    border-width: 1px;
  }
}
.area02 .section04 {
  height: 250vh;
  position: relative;
}
.area02 .section04-inner {
  height: 100vh;
  /*@include dis-flex(null, center, column);*/
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.area02 .section04-inner .bg-circle {
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #eee;
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.area02 .section04-inner .intro-txt-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.area02 .section04-inner .intro-txt-wrap .txt h1 {
  margin: 0 0 2.5vw 0;
  line-height: 1.1;
  white-space: nowrap;
  font-size: 6vw;
  font-weight: 400;
  font-family: "Baskervville", serif;
  color: #000;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .area02 .section04-inner .intro-txt-wrap .txt h1 {
    line-height: 1.4;
    font-size: 10vw;
  }
}
@media (max-width: 480px) {
  .area02 .section04-inner .intro-txt-wrap .txt h1 {
    font-size: 12vw;
  }
}
.area02 .section04-inner .intro-txt-wrap .txt p {
  font-size: 1vw;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
}
@media (max-width: 991px) {
  .area02 .section04-inner .intro-txt-wrap .txt p {
    font-size: 2.5vw;
  }
}
@media (max-width: 720px) {
  .area02 .section04-inner .intro-txt-wrap .txt p {
    font-size: 17px;
  }
}
@media (max-width: 480px) {
  .area02 .section04-inner .intro-txt-wrap .txt p {
    font-size: 13px;
  }
}
.area02 .section04-inner .intro-txt-wrap .txt p a {
  display: inline-block;
  position: relative;
  margin: 0 0 1vw 0;
  font-size: 1.63vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #000;
}
.area02 .section04-inner .intro-txt-wrap .txt p a::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -4px;
  left: 0;
  background: #000;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media (max-width: 720px) {
  .area02 .section04-inner .intro-txt-wrap .txt p a::before {
    height: 2px;
  }
}
.area02 .section04-inner .intro-txt-wrap .txt p a:hover::before {
  width: 0;
  left: auto;
  right: 0;
}
@media (max-width: 991px) {
  .area02 .section04-inner .intro-txt-wrap .txt p a {
    margin: 0 0px 15px 0;
    font-size: 2.5vw;
  }
}
@media (max-width: 720px) {
  .area02 .section04-inner .intro-txt-wrap .txt p a {
    margin: 0 0px 10px 0;
    font-size: 17px;
  }
}
@media (max-width: 480px) {
  .area02 .section04-inner .intro-txt-wrap .txt p a {
    font-size: 14px;
  }
}
.area02 .section04-inner .intro-txt-wrap .mail {
  width: 13.6vw;
  height: 13.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  border-radius: 50%;
  margin: 0 auto;
  margin-right: 0;
  margin-top: 11vw;
}
@media (max-width: 991px) {
  .area02 .section04-inner .intro-txt-wrap .mail {
    width: 30vw;
    height: 30vw;
  }
}
.area02 .section04-inner .intro-txt-wrap .mail img {
  width: auto;
}
@media (max-width: 720px) {
  .area02 .section04-inner .intro-txt-wrap .mail img {
    height: 45px;
  }
}
@media (max-width: 480px) {
  .area02 .section04-inner .intro-txt-wrap .mail img {
    height: 32px;
  }
}
@media (max-width: 991px) {
  .area02 .section04 {
    height: 190vw;
  }
}
@media (max-width: 720px) {
  .area02 .section04 {
    height: 310vw;
  }
}
@media (max-width: 480px) {
  .area02 .section04 {
    height: 400vw;
  }
}

/*** 메인 끝 ***/