@charset 'utf-8';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
$black:#000;
$red:#d61c45;
$basic:#eee;
$gray:#999;
$easing:cubic-bezier(0.215, 0.61, 0.355, 1);
$mont:'Montserrat', sans-serif;
$basker:'Baskervville', serif;
$noto:'Noto Sans KR', sans-serif;
$notoS:'Noto Serif', serif;
.noto{font-family:'Noto Sans KR', sans-serif !important;}

@mixin conSize($wd:null, $hg:null, $lh:null){width:$wd; height:$hg; line-height:$lh;}
@mixin font($sz:null, $wg:null, $ff:null, $co:null){font-size:$sz; font-weight:$wg; font-family:$ff; color:$co}
@mixin dis-flex($ai:null, $jc:null, $fl:null){display:flex; align-items:$ai; justify-content:$jc; flex-flow:$fl;}
@mixin dis-grid($num1:null, $num:null){display:grid; grid-template-columns:repeat($num1, $num2 + #{fr})}
@mixin position($pt:null, $top:null, $right:null, $bottom:null, $left:null, $zd:null){position:$pt; top:$top; right:$right; bottom:$bottom; left:$left; z-index:$zd;}
@mixin b-txt(){line-height:1.1;  @include font(6vw, 400, $basker, $black);}
@mixin m-txt(){line-height:1.5; @include font(1.65vw, 500, $mont, $black);}
@mixin heading-txt(){@include font(3vw, 400, $basker, $red); text-transform:uppercase;} 
@mixin italic(){font-style:italic;}
@mixin circle-con(){@include conSize(13.6vw, 13.6vw, null); @include dis-flex(center, center, null); border:1px solid $gray; border-radius:50%;}
@mixin arrow(){@include conSize(0.2vw, 3vw, null); display:block; position:relative; background:$gray;
    &::before, &::after{content:""; @include conSize(0.2vw, 1.5vw, null); @include position(absolute, null, null, -.4vw, null, null); background:inherit;}
    &::before{left:.5vw; transform:rotate(45deg);}
    &::after{right:.5vw; transform:rotate(-45deg);}
}
@mixin transform(){transform-style:preserve-3d; will-change:transform;}
.rl-scroll{@include transform;}

body{margin:0; overflow-x:hidden; background:$basic;}
*{margin:0; padding:0; box-sizing:border-box; cursor:none !important;}
ul, ol{list-style:none;}
a{text-decoration:none; color:$black;}
.section-inner{padding:0 8.5vw 0 6vw;}
.cursor{@include position(fixed, null, null, null, null, 9999); pointer-events:none; 
    p{@include conSize(2vw, 2vw, null); display:block; background:$red; border-radius:50%; transition:all .5s $easing; pointer-events:none;}
    span{@include position(absolute, 50%, null, null, 50%, null); transform:translate(-50%,-50%); opacity:0; visibility:hidden; @include font(0.8vw, 500, $mont, $basic); pointer-events:none;}
    &.scale{opacity:.7;
        p{transform:scale(2)}
        span{opacity:1; visibility:visible;}
    }
    &.background{
        p{background:$basic;}
        span{color:$red}
    }
}

/*** 헤더 시작 ***/
.at-header{@include conSize(calc(100% - 5.4vw), null, null); @include position(fixed, 0, null, null, 0, 99); padding:2vw 2vw 2vw 1vw; backdrop-filter:blur(6px); transition:all .5s $easing;
    .header-inner{@include dis-flex(flex-start, space-between, null);
        ul{@include dis-flex(center, null, null); column-gap:4.35vw;
            li{
                p{@include font(1.1vw, 400, $basker, $black); text-transform:uppercase;}
                span{@include font(0.85vw, 400, $noto, $black);}
            }
            &:last-child{
                li{
                    p{cursor:pointer;}
                }
            }
            &:last-child{column-gap:2.35vw;
                li{padding:0.5vw 1vw; background:$basic; border-radius:5vw;}
            }
        }
    }
}
/*** 헤더 끝 ***/ 

/*** 우측 고정 컨텐츠 시작 ***/
.right-fix{@include conSize(5.4vw, 100%, null); @include dis-flex(null, space-between, column); @include position(fixed, 0, 0, null, null, 99); background:$red;
    & > div{writing-mode:vertical-lr}
    p{@include conSize(100%, 3vw, null); @include dis-flex(center, center, column); position:relative; overflow:hidden; @include font(1vw, 400, $basker, $black);
        span{@include position(absolute, null, null, null, null, null); transition:all .3s $easing;}
    }
}
/*** 우측 고정 컨텐츠 끝 ***/

/*** 메인 시작 ***/
.area01{
    // 섹션01
    .section01{overflow:hidden;
        &-inner{@include conSize(null, 100vh, null); @include dis-flex(null, center, column); @include transform;
            .intro-txt-wrap{
                h1{@include dis-flex(null, null, null); @include b-txt; text-transform:uppercase;
                    &:nth-child(2){padding:0 0 0 27vw;
                        span{@include italic; color:$red;}
                    }
                }
            }
            .m-txt-wrap{@include dis-flex(center, space-between, null); @include transform; margin:1.3vw 0 0 0;
                .txt{@include m-txt;}
                /*.next-section-arrow{@include circle-con; cursor:pointer;
                    span{@include arrow;}
                }*/
            }
        }
    }
    // 섹션01 끝
}

.area02{background:$black;
    // 섹션02
    .section02{
        &-inner{@include conSize(null, 100vh, null); @include dis-flex(null, center, column);
            .intro-txt-wrap{
                p{@include heading-txt;}
                h1{@include b-txt; color:#fff;
                    &:nth-child(2){padding:0 0 0 7vw; @include italic; color:transparent; -webkit-text-stroke:0.5px #fff;}
                }
            }
            .content-row{@include dis-flex(null, null, null); column-gap:1.5vw; margin:3vw 0 0 0;
                .open-fold-toggle{flex:1;
                    .heading-b{@include dis-flex(center, space-between, null); padding:1vw 0; border:1px solid #fff; border-left:0; border-right:0; cursor:pointer;
                        h1{@include font(4.5vw, 500, $mont, #fff); text-transform:uppercase;}
                        .open-fold-toggle-arrow{@include conSize(2.2vw, 2.2vw, null); position:relative; @include dis-flex(center, center, null);
                            span{display:block; position:absolute; background:#fff; transition:all .3s $easing;
                                &.row{@include conSize(100%, 5px, null);}
                                &.column{@include conSize(5px, 100%, null); transform:rotate(90deg);}
                            }
                            &.exposuer{
                                span{
                                    &.column{transform:rotate(0);}
                                }
                            }
                        }
                    }
                    .con{max-height:0; padding:1.5vw 0 0 0; opacity:0; visibility:hidden; transition:all .3s $easing;
                        li{@include dis-flex(center, null, null); position:relative; counter-increment:li-counter; color:#fff;
                            .fir{@include conSize(14vw, null, null); @include dis-flex(center, null, null); column-gap:0.75vw;
                                .line{@include conSize(1.6vw, 2px, null); background:#fff;}
                                .time{@include font(1vw, 500, $mont, null);}
                            }
                            .history{@include font(1vw, 300, $noto, null);}
                            &::before{content:counter(li-counter, decimal-leading-zero); margin:0 0.75vw 0 0; @include font(1.63vw, 300, $notoS, $red);}
                        }
                        &.exposuer{max-height:100em; opacity:1; visibility:visible}
                    }
                }
                .skils{
                    .con{@include dis-flex(null, null, column); row-gap:3.2vw; padding:1.9vw 0 0 0;
                        ul{@include dis-flex(center, space-between, null);
                            li{@include conSize(100%, null, null);
                                p{@include font(1vw, 400, $mont, null);}
                                &:nth-child(2){justify-content:center;}
                                &:last-child{justify-content:flex-end;}
                                &::before{display:none;}
                            }
                        }
                    }
                }
            }
        }
    }
    // 섹션02 끝

    // 섹션03
    .section03{
        &-inner{
            .intro-txt-wrap{
                p{@include heading-txt;}
                h1{padding:0 0 0 7vw; @include b-txt; @include italic; color:#fff;}
            }
            .content-column{padding:7vw 0 0 0;
                ul{
                    li{@include dis-flex(flex-end, center, null); position:relative; padding:2vw 0; border-bottom:1px solid #fff; cursor:pointer;
                        p{@include conSize(100%, null, null); @include dis-flex(flex-end, center, null); @include b-txt; font-family:$mont; color:#fff; transition:all .3s $easing;
                            span{@include font(1vw, 400, $mont, $gray);}
                            &.spaceBetween{justify-content:space-between;}
                        }
                        .work-img{@include conSize(18vw, 25vw, null); @include position(absolute, null, null, null, null, 99); @include transform; opacity:0; visibility:hidden; background-size:cover; background-position:center;}
                        &:last-child{border-bottom:0;}
                        &.opacity{
                            .work-img{opacity:1; visibility:visible;}
                        }
                    }
                }
            }
            .sub_link{@include dis-flex(center, flex-end, null); position:relative; padding:0.6vw 0.6vw 0.6vw 0; border:2px solid #fff; border-radius:4vw; cursor:pointer;
                p{@include conSize(100%, 3.9vw, null); @include dis-flex(null, null, column); @include position(absolute, null, null, null, null, 5); padding:0 3vw; overflow:hidden; @include font(3.23vw, 500, $mont, #fff); transition:all .5s $easing;
                    span{transition:all .5s $easing;}
                }
                a{@include conSize(calc(100% - .6vw), 6.5vw, null); @include dis-flex(center, flex-end, null); position:relative; 
                    span{@include arrow; transform:rotate(-90deg); margin:0 3vw 0 0; background:$black;}
                    &::before{content:""; @include conSize(6.5vw, 6.5vw, null); transform-origin:bottom left; @include position(absolute, 0, 0, null, null, null); background:$red; border-radius:10vw; transition:width .5s $easing;}
                }
                &:hover{
                    p{text-align:right;
                        span{
                            &:first-child{transform:translateY(100%)}
                            &:last-child{transform:translateY(-100%)}
                        }
                    }
                    a{justify-content:flex-start;
                        span{margin:0 0 0 3vw;}
                        &::before{width:100%; transform:scale(1);}
                    }
                }
            }
        }
    }
    // 섹션03 끝

    // 섹션04
    .section04{position:relative;
        &-inner{@include conSize(null, 100vh, null); @include dis-flex(null, center, column);
            .bg-circle{@include conSize(10vw, 10vw, null); @include position(absolute, 50%, null, null, 50%, null); transform:translate(-50%, -50%); background:$basic; border-radius:50%;}
        }
    }
    // 섹션04 끝
}
/*** 메인 끝 ***/

.area03{
    .section05{
        &-inner{@include conSize(null, 100vh, null); @include dis-flex(null, center, column);
            .intro-txt-wrap{
                h1{@include b-txt; text-transform:uppercase;}
                .txt{margin:2.5vw 0 0 0;
                    a{display:inline-block; position:relative; margin:0 0 1vw 0; @include font(1.63vw, 500, $mont, $black);
                        &::before{content:""; @include conSize(100%, 3px, null); @include position(absolute, null, null, -4px, 0, null); background:$black; transition:all .5s $easing;}
                        &:hover{
                            &::before{width:0; left:auto; right:0;}
                        }
                    }
                    p{@include font(1vw, 400, $noto, $black);}
                }
            }
            .mail{@include circle-con; margin:0 auto; margin-right:0; margin-top:11vw}
        }
    }
}