@charset 'utf-8';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
$black:#000;
$red:#d61c45;
$basic:#eee;
$gray:#999;
$easing:cubic-bezier(0.215, 0.61, 0.355, 1);
$mont:'Montserrat', sans-serif;
$basker:'Baskervville', serif;
$noto:'Noto Sans KR', sans-serif;
$notoS:'Noto Serif', serif;
.noto{font-family:'Noto Sans KR', sans-serif !important;}

@mixin responsive-1600(){
    @media(max-width:1600px){@content;}
}
@mixin responsive-991(){
    @media(max-width:991px){@content;}
}
@mixin responsive-480(){
    @media(max-width:480px){@content;}
}
@mixin conSize($wd:null, $hg:null, $lh:null){width:$wd; height:$hg; line-height:$lh;}
@mixin font($sz:null, $wg:null, $ff:null, $co:null){font-size:$sz; font-weight:$wg; font-family:$ff; color:$co}
@mixin dis-flex($ai:null, $jc:null, $fl:null){display:flex; align-items:$ai; justify-content:$jc; flex-flow:$fl;}
@mixin dis-grid($num1:null, $num:null){display:grid; grid-template-columns:repeat($num1, $num2 + #{fr})}
@mixin position($pt:null, $top:null, $right:null, $bottom:null, $left:null, $zd:null){position:$pt; top:$top; right:$right; bottom:$bottom; left:$left; z-index:$zd;}
@mixin b-txt(){line-height:1.1; white-space:nowrap; @include font(6vw, 400, $basker, $black);
    @include responsive-991{line-height:1.4; font-size:13vw;}
}
@mixin m-txt(){line-height:1.5; @include font(1.65vw, 500, $mont, $black);
    @include responsive-991{font-size:3.5vw;}
    @include responsive-480{line-height:1.7; font-size:15px;}
}
@mixin heading-txt(){@include font(3vw, 400, $basker, $red); text-transform:uppercase;
    @include responsive-991{font-size:5vw;}
} 
@mixin italic(){font-style:italic;}
@mixin circle-con(){@include conSize(13.6vw, 13.6vw, null); @include dis-flex(center, center, null); border:1px solid $gray; border-radius:50%;}
@mixin arrow(){@include conSize(0.2vw, 3vw, null); display:block; position:relative; background:$gray;
    &::before, &::after{content:""; @include conSize(0.2vw, 1.5vw, null); @include position(absolute, null, null, -.4vw, null, null); background:inherit;
        @include responsive-991{@include conSize(4px, 2vw, null);}
        @include responsive-480{@include conSize(2px, 8px, null);}
    }
    &::before{left:.5vw; transform:rotate(45deg);
        @include responsive-991{left:.7vw}
        @include responsive-480{left:2.5px;}
    }
    &::after{right:.5vw; transform:rotate(-45deg);
        @include responsive-991{right:.7vw;}
        @include responsive-480{right:2.5px;}
    }
}
@mixin transform(){transform-style:preserve-3d; will-change:transform;}
.rl-scroll{@include transform;}

body{margin:0; overflow-x:hidden; background:$basic;
    &.no-cursor{
        *{cursor:none !important }
    }
}
*{margin:0; padding:0; box-sizing:border-box;}
ul, ol{list-style:none;}
a{text-decoration:none; color:$black;}
.section-inner{padding:0 8.5vw 0 6vw;
    @include responsive-991{padding:0 15px;}
}
.cursor{@include position(fixed, null, null, null, null, 9999); pointer-events:none; @include transform;
    p{@include conSize(2vw, 2vw, null); display:block; background:$red; border-radius:50%; transition:all .5s $easing; pointer-events:none;}
    span{@include position(absolute, 50%, null, null, 50%, null); transform:translate(-50%,-50%); opacity:0; visibility:hidden; @include font(0.8vw, 500, $mont, $basic); pointer-events:none;}
    &.scale{opacity:.7;
        p{transform:scale(2)}
        span{opacity:1; visibility:visible;}
    }
    &.background{
        p{background:$basic;}
        span{color:$red}
    }
    @include responsive-991{display:none;}
}

/*** 헤더 시작 ***/
.at-header{@include conSize(calc(100% - 5.4vw), null, null); @include position(fixed, 0, null, null, 0, 99); padding:2vw 2vw 2vw 1vw; backdrop-filter:blur(6px); transition:all .5s $easing;
    .header-inner{@include dis-flex(flex-start, space-between, null);
        ul{@include dis-flex(center, null, null); column-gap:4.35vw;
            li{
                a{@include font(1.1vw, 400, $basker, $black); text-transform:uppercase;
                    @include responsive-1600{font-size:1.6vw;}
                    @include responsive-991{font-size:3vw;}
                    @include responsive-480{font-size:11px;}
                }
                span{@include font(0.85vw, 400, $noto, $black);
                    @include responsive-1600{font-size:1.2vw;}
                }
            }
            &:last-child{
                li{
                    p{cursor:pointer;}
                }
            }
            &:last-child{column-gap:2.35vw;
                li{padding:0.5vw 1vw; background:$basic; border-radius:5vw;
                    @include responsive-991{padding:0.8vw 2vw;}
                    @include responsive-480{padding:7px 10px;}
                }
                @include responsive-480{column-gap:5px;}
            }
            @include responsive-991{display:none;
                &:last-child{@include conSize(100%, null, null); @include dis-flex(null, flex-end, null);}
            }
        }
    }
    @include responsive-991{width:100%;}
    @include responsive-480{padding:10px;}
}
/*** 헤더 끝 ***/ 

/*** 우측 고정 컨텐츠 시작 ***/
.right-fix{@include conSize(5.4vw, 100%, null); @include dis-flex(null, space-between, column); @include position(fixed, 0, 0, null, null, 99); background:$red;
    & > div{height:100%; writing-mode:vertical-lr}
    p{@include conSize(100%, 100%, null); @include dis-flex(center, space-between, null); position:relative; overflow:hidden; @include font(1vw, 400, $basker, $black);
        span{display:block; transition:all .3s $easing;}
    }
    @include responsive-991{display:none;}
}
/*** 우측 고정 컨텐츠 끝 ***/

/*** 메인 시작 ***/
.area01{
    // 섹션01
    .section01{overflow:hidden;
        &-inner{@include dis-flex(null, center, column); @include transform; padding:13vw 8.5vw 13vw 6vw;
            .intro-txt-wrap{
                h1{@include dis-flex(null, null, null); @include b-txt; text-transform:uppercase;
                    &:nth-child(2){padding:0 0 0 27vw;
                        span{@include italic; color:$red;}
                    }
                    @include responsive-991{font-size:10vw;}
                }
            }
            .m-txt-wrap{@include dis-flex(center, space-between, null); @include transform; margin:4vw 0 0 0;
                .txt{@include m-txt;}
                /*.next-section-arrow{@include circle-con; cursor:pointer;
                    span{@include arrow;}
                }*/
                @include responsive-991{margin:7vw 0 0 0;}
            }
            @include responsive-991{height:127vw;}
            @include responsive-480{height:100vh;}
        }
    }
    // 섹션01 끝
}

.area02{background:$black;
    // 섹션02
    .section02{
        &-inner{@include dis-flex(null, center, column); padding:10vw 8.5vw 14vw 6vw;
            .intro-txt-wrap{
                p{@include heading-txt;}
                h1{@include b-txt; color:#fff;
                    &:nth-child(2){padding:0 0 0 7vw; @include italic; color:transparent; -webkit-text-stroke:0.5px #fff;
                        @include responsive-991{padding:0 0 0 4vw;}
                    }
                }
            }
            .content-row{@include dis-flex(null, 21vw, null); column-gap:1.5vw; margin:3vw 0 0 0;
                .open-fold-toggle{flex:1;
                    .heading-b{@include dis-flex(center, space-between, null); padding:1vw 0; border:1px solid #fff; border-left:0; border-right:0; cursor:pointer;
                        h1{@include font(4.5vw, 500, $mont, #fff); text-transform:uppercase;}
                        .open-fold-toggle-arrow{@include conSize(2.2vw, 2.2vw, null); position:relative; @include dis-flex(center, center, null);
                            span{display:block; position:absolute; background:#fff; transition:all .3s $easing;
                                &.row{@include conSize(100%, 5px, null);
                                    @include responsive-991{height:3px;}
                                    @include responsive-480{height:2px;}
                                }
                                &.column{@include conSize(5px, 100%, null);
                                    @include responsive-991{width:3px;}
                                    @include responsive-480{width:2px;}
                                }
                            }
                            &.exposuer{
                                span{
                                    &.column{transform:rotate(90deg);}
                                }
                            }
                            @include responsive-991{@include conSize(35px, 35px, null);}
                            @include responsive-480{@include conSize(12px, 12px, null); margin:0 0 3px 0;}
                        }
                        @include responsive-991{padding:3vw 0;}
                    }
                    .con{max-height:0; padding:1.5vw 0 0 0; opacity:0; visibility:hidden; transition:all .3s $easing;
                        li{@include dis-flex(center, null, null); position:relative; counter-increment:li-counter; color:#fff;
                            .fir{@include conSize(14vw, null, null); @include dis-flex(center, null, null); column-gap:0.75vw;
                                .line{@include conSize(1.6vw, 2px, null); background:#fff;
                                    @include responsive-991{width:25px;}
                                }
                                .time{@include font(1vw, 500, $mont, null);
                                    @include responsive-991{font-size:20px;}
                                    @include responsive-480{font-size:14px;}
                                }
                                @include responsive-991{width:250px;}
                                @include responsive-480{width:92%; column-gap:10px;}
                            }
                            .history{@include font(1vw, 300, $noto, null);
                                @include responsive-991{font-size:20px;}
                                @include responsive-480{font-size:13px;}
                            }
                            &::before{content:counter(li-counter, decimal-leading-zero); margin:0 0.75vw 0 0; @include font(1.63vw, 300, $notoS, $red);
                                @include responsive-991{font-size:26px;}
                                @include responsive-480{width:8%; margin:0; font-size:16px;}
                            }
                            @include responsive-991{margin:0 0 10px 0;
                                &:last-child{margin:0;}
                            }
                            @include responsive-480{flex-flow:wrap}
                        }
                        &.exposuer{max-height:100em; opacity:1; visibility:visible;
                            @include responsive-991{padding:15px 0 15px 0;}
                        }
                    }
                }
                .skils{
                    .con{@include dis-flex(null, null, column); row-gap:3.2vw; padding:1.9vw 0 0 0;
                        ul{@include dis-flex(center, space-between, null);
                            li{@include conSize(100%, null, null);
                                p{@include font(1vw, 400, $mont, null);
                                    @include responsive-991{font-size:20px;}
                                    @include responsive-480{font-size:14px}
                                }
                                &:nth-child(2){justify-content:center;}
                                &:last-child{justify-content:flex-end;}
                                &::before{display:none;}
                            }
                        }
                    }
                }
                @include responsive-991{flex-flow:column; margin:7vw 0 0 0;}
            }
            @include responsive-991{height:127vw; overflow:hidden;}
            @include responsive-480{height:auto; padding:20vw 15px;}
        }
    }
    // 섹션02 끝

    // 섹션03
    .section03{padding:0 0 30vw 0;
        &-inner{
            .intro-txt-wrap{
                p{@include heading-txt;}
                h1{padding:0 0 0 7vw; @include b-txt; @include italic; color:#fff;}
            }
            .content-column{padding:7vw 0 0 0;
                ul{
                    li{@include dis-flex(flex-end, center, null); position:relative; padding:2vw 0; border-bottom:1px solid #fff; cursor:pointer;
                        p{@include conSize(100%, null, null); @include dis-flex(flex-end, center, null); @include b-txt; font-family:$mont; color:#fff; transition:all .3s $easing;
                            span{@include font(1vw, 400, $mont, $gray);
                                @include responsive-991{font-size:23px;}
                                @include responsive-480{font-size:11px;}
                            }
                            &.spaceBetween{justify-content:space-between;}
                            @include responsive-991{font-size:9vw;}
                            @include responsive-480{font-size:23px;}
                        }
                        .work-img{@include conSize(18vw, 25vw, null); @include position(absolute, null, null, null, null, 99); @include transform; opacity:0; visibility:hidden; background-size:cover; background-position:center;
                            @include responsive-991{@include conSize(46vw, 57vw, null);}
                        }
                        &:last-child{border-bottom:0;}
                        &.opacity{
                            .work-img{opacity:1; visibility:visible;}
                        }
                        @include responsive-991{padding:4vw 0}
                        @include responsive-480{padding:12px 0;}
                    }
                }
            }
            .sub_link{@include conSize(null, 8vw, null); @include dis-flex(center, flex-end, null); position:relative; padding:0.6vw; border:2px solid #fff; border-radius:4vw; cursor:pointer;
                p{@include conSize(100%, 3.9vw, null); @include dis-flex(null, null, column); @include position(absolute, null, null, null, null, 5); padding:0 3vw; overflow:hidden; @include font(3.23vw, 500, $mont, #fff); transition:all .5s $easing;
                    span{transition:all .5s $easing;}
                    @include responsive-991{height:7vw; padding:0 4vw; font-size:6vw;}
                    @include responsive-480{height:23px; padding:0 25px; font-size:19px;}
                }
                .circle{@include conSize(6.5vw, 6.5vw, null); @include dis-flex(center, center, null); position:absolute; right:0.6vw; background:$red; border-radius:10vw; transition:width .5s $easing;
                    span{@include arrow; transform:rotate(-90deg); background:$black;
                        @include responsive-991{@include conSize(4px, 5vw, null);}
                        @include responsive-480{@include conSize(2px, 24px, null);}
                    }
                    @include responsive-991{@include conSize(8vw, 8vw, null); right:1.5vw;}
                    @include responsive-480{@include conSize(35px, 35px, null); right:7px;}
                }
                &:hover{
                    p{text-align:right;
                        span{
                            &:first-child{transform:translateY(100%)}
                            &:last-child{transform:translateY(-100%)}
                        }
                        @include responsive-480{padding:0 12px;}
                    }
                    .circle{width:calc(100% - 1.2vw); justify-content:flex-start; padding:0 0 0 3vw;
                        @include responsive-991{padding:0 0 0 5vw;}
                        @include responsive-480{width:calc(100% - 3.6vw); padding:0 0 0 8vw}
                    }
                }
                @include responsive-991{height:auto; padding:5vw 2vw 5vw 2vw; border-radius:9vw;}
                @include responsive-480{padding:25px 10px 25px 10px; border-width:1px;}
            }
        }
    }
    // 섹션03 끝

    // 섹션04
    .section04{height:250vh; position:relative;
        &-inner{@include conSize(null, 100vh, null); @include dis-flex(null, center, column); @include position(sticky, 0, null, null, null, null); overflow:hidden;
            .bg-circle{@include conSize(10vw, 10vw, null); @include position(absolute, 50%, null, null, 50%, null); transform:translate(-50%, -50%); background:$red; border-radius:50%; transition:all .3s $easing;}
        }
    }
    // 섹션04 끝
}
/*** 메인 끝 ***/

.area03{@include conSize(100%, null, null); @include position(absolute, null, null, null, null, null); @include transform; background:$basic; 
    .section05{
        &-inner{ @include dis-flex(null, center, column); padding:10vw 8.5vw 10vw 6vw;
            .intro-txt-wrap{
                h1{@include b-txt; text-transform:uppercase;}
                .txt{margin:2.5vw 0 0 0;
                    a{display:inline-block; position:relative; margin:0 0 1vw 0; @include font(1.63vw, 500, $mont, $black);
                        &::before{content:""; @include conSize(100%, 3px, null); @include position(absolute, null, null, -4px, 0, null); background:$black; transition:all .5s $easing;}
                        &:hover{
                            &::before{width:0; left:auto; right:0;}
                        }
                    }
                    p{@include font(1vw, 400, $noto, $black);}
                }
            }
            .mail{@include circle-con; margin:0 auto; margin-right:0; margin-top:11vw}
        }
    }
}